/* Marissa Lee */
/* Landing Page */

html {
	background-color: #eedad7;}
h1 {
	color: #A85134;
	font-size: 60px;
	font-family: 'Bitter', serif;
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 16px;
	text-shadow: 2px 2px 4pc rgba(0, 0, 0, 0.5;)} /* make the title more eye-catching than before */

#image1 img, #image2 img, #image3 img {
	max-width: 500px;
	max-height: 300px;
	float: left;
	margin: 40px;
	border: 6px solid #42342f;
	border-radius: 5px;} 

#links {
	font-size: 24px;
	clear: both; /*place links below photos */
	text-align: center;
	padding: 10px;}

#links a:hover {
	color: #764b3d;}

#links a:visited {
	color: #332f2d;}
	